<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DemoTests.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DemoTests.Config>
            <setting name="url" serializeAs="String">
                <value>https://dry-garden-46576.herokuapp.com/</value>
            </setting>
            <setting name="resultsfile" serializeAs="String">
                <value>c:\TestResults\DemoTestResults</value>
            </setting>
            <setting name="postToSlack" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="slackChannel" serializeAs="String">
                <value>#test-results</value>
            </setting>
            <setting name="createJiraTicket" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="JiraUsername" serializeAs="String">
                <value>faronc</value>
            </setting>
            <setting name="JiraPassword" serializeAs="String">
                <value>YourJiraPassword</value>
            </setting>
            <setting name="urlWithAccessToken" serializeAs="String">
                <value>https://hooks.slack.com/services/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</value>
            </setting>
        </DemoTests.Config>
    </userSettings>
</configuration>